In [27]:
import csv
import pandas as pd

In [25]:
# csvファイルを読み込む
df = pd.read_csv('.\\sample.csv')
# Time列を日時型に変換
df['Time'] = pd.to_datetime(df['Time'])
df

                    Time  OS  DS
0    2022-01-01 12:00:01  31  58
1    2022-01-01 12:00:02  22  91
2    2022-01-01 12:00:03  56  13
3    2022-01-01 12:00:04  77   1
4    2022-01-01 12:00:05  49  55
...                  ...  ..  ..
1834 2022-01-01 12:30:26  59  54
1835 2022-01-01 12:30:27  83  81
1836 2022-01-01 12:30:28  42   7
1837 2022-01-01 12:30:29  36   7
1838 2022-01-01 12:30:30  26  61

[1839 rows x 3 columns]

In [24]:
# 1分ごとに平均値を算出する
df.groupby(pd.Grouper(key='Time', freq='1min')).mean()

                            OS         DS
Time
2022-01-01 12:00:00  53.152542  55.203390
2022-01-01 12:01:00  47.983607  54.459016
2022-01-01 12:02:00  56.666667  43.533333
2022-01-01 12:03:00  55.550000  51.616667
2022-01-01 12:04:00  46.967213  44.655738
2022-01-01 12:05:00  48.066667  54.033333
2022-01-01 12:06:00  58.200000  51.900000
2022-01-01 12:07:00  52.166667  53.933333
2022-01-01 12:08:00  42.393443  51.032787
2022-01-01 12:09:00  47.300000  50.983333
2022-01-01 12:10:00  50.050000  47.783333
2022-01-01 12:11:00  50.344262  47.524590
2022-01-01 12:12:00  49.133333  51.750000
2022-01-01 12:13:00  51.400000  45.300000
2022-01-01 12:14:00  51.918033  53.180328
2022-01-01 12:15:00  54.166667  52.566667
2022-01-01 12:16:00  52.800000  56.050000
2022-01-01 12:17:00  49.600000  54.866667
2022-01-01 12:18:00  51.721311  55.147541
2022-01-01 12:19:00  46.750000  53.216667
2022-01-01 12:20:00  51.883333  48.833333
2022-01-01 12:21:00  50.131148  51.983607
2022-01-01 12:22:00  52.600000  49.566667
2022-01-01 12:23:00  43.050000  44.366667
2022-01-01 12:24:00  50.049180  46.950820
2022-01-01 12:25:00  50.683333  48.783333
2022-01-01 12:26:00  50.883333  52.800000
2022-01-01 12:27:00  49.433333  49.416667
2022-01-01 12:28:00  46.540984  54.295082
2022-01-01 12:29:00  47.433333  48.683333
2022-01-01 12:30:00  53.548387  38.903226